.expandContainer {
  
  overflow: hidden;
  margin: auto;

}

.expandSlider {
  display: flex;
  width: 1100px;
  height: 1100px;
  transition: transform 130ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

img#expandImg {
  margin: auto;
  width: 50%;
  height: 50%;
  padding-left: 35%;
  padding-right: 33%;
  margin-top: 35px;
}

#btnArrowLeftExpand {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 40px;
  top:320px;
  opacity: 1;
}


#btnArrowLeftExpand:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronLeft_colorWhite+.svg');
  background-position-x: 45%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnArrowRightExpand {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 40px;
  top:320px;
  opacity: 1;
}


#btnArrowRightExpand:hover::after {
  transition: .4s ease-in-out;
  content: "";
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/chevronRight_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:40%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: grey;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  position: absolute;
  z-index: -1;  
}

#btnReturn {
  z-index: 11;
  background-image: url('https://s3-us-west-1.amazonaws.com/carouselphotos/icon-close_colorWhite.svg');
  background-position-x: 55%;
  background-position-y: 50%;
  background-size:50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 40px;
  top:50px;
  opacity: 1;
}

button:focus {outline:0;}
button#btnArrowLeft:focus { outline:0 !important; box-shadow: none;}
button#btnArrowRight:focus { outline:0 !important; box-shadow: none;}
button#btnExpand:focus { outline:0 !important; box-shadow: none;}
button#btnArrowLeftExpand:focus { outline:0 !important; box-shadow: none;}
button#btnArrowRightExpand:focus { outline:0 !important; box-shadow: none;}
button#btnReturn:focus { outline:0 !important; box-shadow: none;}